<div class="chat-box-container">
  <h2>Conversation with <%= @conversation.sender == current_user ? @conversation.receiver.username : @conversation.sender.username %></h2>


  <div id="messages chat-box">
    <%= render @messages %>
  </div>

  <%= form_with model: [@conversation, @message], local: false do |form| %>
    <div>
      <%= form.text_area :content, id: 'message_content', class: 'textarea textarea-info' %>
      <%= form.submit 'Send' %>
    </div>
  <% end %>

  <div id="conversation-id" data-conversation-id="<%= @conversation.id %>"></div>

</div>