<div class="movie-container">

  <% @favorite_movies.each do |movie| %>
    <%= link_to movie_medium_path(movie["id"]), class: "home-page-card-link" do %>

      <div class="movie-card card w-96 bg-base-100 shadow-xl shadow-xl image-full transform  duration-1000 hover:scale-105">
        <% poster_url = "https://image.tmdb.org/t/p/w500#{movie["poster_path"]}" %>
        <% rating = movie["vote_average"]/2 %>
        <% rating = rating.round %>
        <% movie_genre_names = movie["genres"].map{|a| a["name"]}.join(', ') %>
        <%# backdrop_url = "https://image.tmdb.org/t/p/w500#{movie["backdrop_path"]}" %>
        <figure><img src=<%= poster_url %> alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title"><%= movie["original_title"] %></h2>
          <p><%= movie["overview"] %></p>
          <div class="bottom-card-container">
            <div class="card-actions justify-start">
              <div class="genre" style="font-size: 12px">
                  <%= movie_genre_names %>
              </div>
            </div>
            <div class="card-actions justify-end">
              <div class="rating">
                <% rating.times do %>
                  <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>