<!-- app/views/users/show.html.erb -->

<div class="user-profile-card card bg-base-100 w-96 shadow-xl">
  <figure class="px-10 pt-10">
    <% if @user.profile_picture.attached? %>
      <%= image_tag url_for(@user.profile_thumbnail), class: "rounded-xl"%>
    <% else %>
      <%= image_tag 'Avatar2.jpeg', alt: 'Relax', class: 'your-css-class' %>
    <%end %>
  </figure>
  <div class="card-body items-center text-center">
    <h2 class="card-title"><%= @user.username %></h2>
    <div class="overflow-x-auto">
      <table class="table ">
        <!-- head -->
        <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <!-- row 1 -->
        <tr>
          <th>First Name</th>
          <td><%= @user.firstname %></td>
        </tr>
        <!-- row 2 -->
        <tr>
          <th>Last Name</th>
          <td><%= @user.lastname %></td>
        </tr>
        <!-- row 3 -->
        <tr>
          <th>Email</th>
          <td><%= @user.email %></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="user-profile-actions">
      <% if @user == current_user %>
        <div class="card-actions">
          <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-primary' %>
        </div>
        <% end %>
      <div class="card-actions">
        <% if current_user.friends?(@user) %>
        <%= link_to 'Favorites', favorite_movies_user_path(@user), class: 'btn btn-primary' %>
          <%= link_to 'Chat', conversations_path(sender_id: current_user.id, receiver_id: @user.id), method: :post %>
      <% end %>
          </div>
    </div>

  </div>
</div>


