<div class="screen carousel w-full shadow-xl" style="border-radius: 20px; ">

  <div class="carousel-container" >
  <div id="item1" class="carousel-item w-full">
    <div class=" carousel-container hero min-h-screen" style="background-image: url(<%= asset_path('dune.jpg') %>);">
      <div class="hero-overlay bg-opacity-60"></div>
      <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md" style="display: none">
          <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
          <p class="mb-5">Find your favourite movies, find like-minded friends and make new connections. No Best way to cultivate connections than movies</p>
          <%= link_to "Get Started", new_user_session_path, class: "start btn btn-primary"%>
        </div>
      </div>
    </div>
  </div>
  <div id="item2" class="carousel-item w-full">
    <div class="hero min-h-screen" style="background-image: url(<%= asset_path('furiosa.jpg') %>);">
      <div class="hero-overlay bg-opacity-60"></div>
      <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
          <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
          <p class="mb-5">Find your favourite movies, find like-minded friends and make new connections. No Best way to cultivate connections than movies</p>
          <%= link_to "Get Started", new_user_session_path, class: "start btn btn-primary"%>
        </div>
      </div>
    </div>
  </div>
  <div id="item3" class="carousel-item w-full">
    <div class="hero min-h-screen" style="background-image: url(<%= asset_path('wallpaper3.jpg') %>);">
      <div class="hero-overlay bg-opacity-60"></div>
      <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
          <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
          <p class="mb-5">Find your favourite movies, find like-minded friends and make new connections. No Best way to cultivate connections than movies</p>
          <%= link_to "Get Started", new_user_session_path, class: "start btn btn-primary"%>
        </div>
      </div>
    </div>
  </div>
  <div id="item4" class="carousel-item w-full">
    <div class="hero min-h-screen" style="background-image: url(<%= asset_path('jason.jpg') %>);">
      <div class="hero-overlay bg-opacity-60"></div>
      <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
          <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
          <p class="mb-5">Find your favourite movies, find like-minded friends and make new connections. No Best way to cultivate connections than movies</p>
          <%= link_to "Get Started", new_user_session_path, class: "start btn btn-primary"%>
        </div>
      </div>
    </div>
  </div>

  <div id="item4" class="carousel-item w-full">
    <div class="hero min-h-screen" style="background-image: url(<%= asset_path('luffy.jpg') %>);">
      <div class="hero-overlay bg-opacity-60"></div>
      <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
          <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
          <p class="mb-5">Find your favourite movies, find like-minded friends and make new connections. Best way to cultivate connections than movies</p>
          <%= link_to "Get Started", new_user_session_path, class: "start btn btn-primary"%>
        </div>
      </div>
    </div>
  </div>
  </div>
  <form class="card-body" id="login-card" >
    <div class="form-control">
      <label class="label">
        <span class="label-text">Email</span>
      </label>
      <input type="email" placeholder="email" class="input input-bordered" required />
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Password</span>
      </label>
      <input type="password" placeholder="password" class="input input-bordered" required />
      <label class="label">
        <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
      </label>
    </div>
    <div class="form-control mt-6">
      <button class="btn btn-primary">Login</button>
    </div>
  </form>
</div>


<script>
  // in the newer versions of rails, the pages are loaded using turbo-links
  // a library used by Rails to speed up navigation by fetching only the HTML and response(got from request to root_path) needed to render the page,
  // and merging it into the current page without doing a full reload

  // this can sometimes interfere with JavaScript that runs on page load or ducument.loaded (JS is not a html required to render the page)

  // initial when I used document loaded, the carousel was not getting loaded because turbo links was
  //loading the page with only the response from the request,to avoid this we use  turbolinks:load instead of DOMContentLoaded
    document.addEventListener('turbolinks:load', function() {
        const items = document.querySelectorAll('.carousel-item');
        let currentItem = 0;
        const itemCount = items.length;

        function showNextItem() {
            items[currentItem].classList.remove('active');
            currentItem = (currentItem + 1) % itemCount;
            items[currentItem].classList.add('active');
        }

        // Remove 'active' class from all items initially
        items.forEach(item => item.classList.remove('active'));

        // Add 'active' class to the first item
        if (items.length > 0) {
            items[currentItem].classList.add('active');
        }

        setInterval(showNextItem, 10000);


    });

  document.addEventListener('turbolinks:load', function() {
      const startLinks = document.querySelectorAll('.start');
      const screenElement = document.querySelector('.screen');

      startLinks.forEach(startLink => {
          startLink.addEventListener('mouseover', function() {
              screenElement.classList.add('hovered');
          });

          startLink.addEventListener('mouseout', function() {
              screenElement.classList.remove('hovered');
          });
      });
  });
</script>